# Frontend
shamimrana.me {
    reverse_proxy frontend:8545
}

# Backend API
:8000 {
    reverse_proxy server:6545
}

# prisma studio
:8001 {
     basicauth {
        shamimrana2006 $2y$10$/x6ntJtyiAp/NAJlWZlYK.ikj517KYpgqgC.pg4xY32LrLpH6qc6y
    }
    reverse_proxy prisma_studio:7896
}
