services:
  postgres:
    image: postgres:16-alpine
    container_name: ${SERVER_NAME}_postgres
    restart: unless-stopped
    profiles:
      - prod
      - dev
      - server
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '${POSTGRES_PORT:-5432}:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  server:
    image: ${IMMAGE_NAME}
    container_name: ${SERVER_NAME}
    restart: unless-stopped
    profiles:
      - prod
      - server
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      NODE_ENV: production
    ports:
      - '${SERVER_PORT}:${PORT}'
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

  # frontend:
  #   image: ${IMMAGE_NAME}
  #   container_name: ${SERVER_NAME}_frontend
  #   restart: unless-stopped
  #   profiles:
  #     - prod
  #     - frontend
  #   env_file:
  #     - .env.local
  #   ports:
  #     - '5080:8545'
  #   networks:
  #     - app-network

  prisma-studio:
    image: ${IMMAGE_NAME}
    container_name: ${SERVER_NAME}_prisma_studio
    restart: unless-stopped
    profiles:
      - prod
      - server
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
    ports:
      - '${PRISMA_STUDIO_PORT_LOCAL}:${PRISMA_STUDIO_PORT}'
    command: npx prisma studio --port ${PRISMA_STUDIO_PORT} --browser none
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    profiles:
      - prod
      - caddy
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      server:
        condition: service_started
      # frontend:
      #   condition: service_started
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
  pgadmin_data:
  caddy_data:
  caddy_config:
